*~
/*-[0-9][0-9].xml
all.abnf
all.rego
archive.json
draft-birkholz-did-x509.xml
/figures/
Gemfile.lock
/.gems/
*.html
/.idea/
/lib
/.*.mk
/node_modules/
package-lock.json
*.pdf
*.redxml
/.refcache
report.xml
*.swp
.tags
*.txt
*.upload
/.venv/
/versioned/
/.vscode/
!requirements.txt
